.list {
  list-style: none;
  padding-left: 0;
}

.item {
  position: relative;
  background-color: #fff;
  color: #1c1f1a;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.item:nth-child(even) {
  background-color: #440f51;
  color: #fff;
}

.item::after {
  content: '';
  width: 46px;
  height: 46px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
}

.item:nth-child(odd)::after {
  background: url('./img/open-purple.svg') center/cover no-repeat;
}

.item:nth-child(even)::after {
  background: url('./img/open.svg') center/cover no-repeat;
}