.about {
  padding-bottom: 150px;
}

.about-title {
  margin-bottom: 50px;
}

.about-info {
  margin-bottom: 78px;
}

.about-text:not(:last-child) {
  margin-bottom: 20px;
}

.blockquote-text {
  margin-bottom: 40px;
  font-size: 44px;
  line-height: 50px;
  white-space: pre;
  text-transform: uppercase;
}

.blockquote-text::before,
.blockquote-text::after {
  font-weight: 900;
  line-height: 50px;
  color: #6C0287;
  text-transform: uppercase;
}

.blockquote-text::before {
  content: '\201C';
  margin-right: 32px;
}

.blockquote-text::after {
  content: '\201D';
  margin-left: 32px;
}

.blockquote-author {
  display: block;
  line-height: 1.4;
  float: right;
}

.author-img {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 29px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.author-title {
  display: inline-block;
  max-width: 279px;
}