.about__wrapper-column {
  display: flex;
  column-gap: 80px;
}

.about__column_left {
  width: 600px;
  height: 596px;
  background: url('../img/about/about-img.jpg') center/cover no-repeat;
}

.about__column_right {
  width: 500px;
}

.about__info {
  margin-bottom: 50px;
}

.about__text:not(:last-child) {
  margin-bottom: 20px;
}

.quote {
  margin-bottom: 39px;
}

.quote__text {
  font-size: 44px;
  line-height: 50px;
  white-space: pre-line;
  text-transform: uppercase;
}

.quote__text::before,
.quote__text::after {
  font-weight: 900;
  line-height: 50px;
  color: var(--color-accent-3);
  text-transform: uppercase;
}

.quote__text::before {
  content: '\201C';
  margin-right: 10px;
}

.quote__text::after {
  content: '\201D';
  margin-left: 10px;
}

.author {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 29px;
}

.author__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 20%;
}

.author__title {
  max-width: 271px;
}
