.banner {
  padding-top: 30px;
}

.banner__btn-back {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.27;
  -webkit-transition: color 0.3s ease-in-out, -webkit-transform;
  transition: color 0.3s ease-in-out, -webkit-transform;
  -o-transition: transform, color 0.3s ease-in-out;
  transition: transform, color 0.3s ease-in-out;
  transition: transform, color 0.3s ease-in-out, -webkit-transform;
}

.banner__btn-back:hover,
.banner__btn-arrow:hover {
  color: var(--color-link-hover);
}

.banner__btn-back:hover .banner__btn-arrow {
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
}

.banner__btn-back:focus {
  outline: 1px solid var(--color-btn-active);
  color: var(--color-link-hover);
}

.banner__btn-back:active,
.banner__btn-arrow:active {
  color: var(--color-btn-active);
}

.banner__img-container {
  position: relative;
  max-width: 100%;
  padding-top: 750px;
}

.banner__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: grayscale(50%);
}

.banner__img_vibes {
  background-image: url('../img/vibes/banner-vibes.jpg');
}

.banner__img_wildwest {
  background-image: url('../img/wildwest/banner-wildwest.jpeg');
}

.banner__img_starwars {
  background-image: url('../img/starwars/banner-starwars.jpeg');
}

.banner__img_neon {
  background-image: url('../img/neonstyle/banner-neonstyle.jpg');
}

.banner__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .banner {
    padding-top: 20px;
  }

  .banner__img-container {
    padding-top: 534px;
  }
}

@media (max-width: 920px) {
  .banner {
    padding-top: 8px;
  }

  .banner__btn-back {
    font-size: 16px;
    line-height: 1.75;
  }

  .banner__img-container {
    padding-top: 402px;
  }

  .banner__text {
    font-size: 60px;
    line-height: 1.2;
  }
}

@media (max-width: 570px) {
  .banner {
    padding-top: 0;
  }

  .banner__btn-back {
    margin-bottom: 15px;
    -webkit-column-gap: 6px;
    -moz-column-gap: 6px;
    column-gap: 6px;
    font-size: 12px;
    line-height: 1.33;
  }

  .banner__btn-arrow {
    width: 16px;
  }

  .banner__img-container {
    padding-top: 168px;
  }

  .banner__text {
    font-size: 30px;
  }
}
