.booking {
  padding: 80px 0;
  background-color: var(--bg-section);
}

.booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 60px;
}

.booking__title {
  margin-bottom: 46px;
}

.form__container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form__container_game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 34px;
}

.form__container_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 19px;
}

.form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 14px;
}

.form__title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.form__title_date {
  margin-bottom: 30px;
}

.form__radio_hall {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__label_hall {
  width: 250px;
  height: 55px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #000;
  text-transform: uppercase;

  border-radius: 8px;
  border: 3px solid transparent;
  background-color: #fff;
  cursor: pointer;
  outline: 3px solid transparent;
  -webkit-transition: background-color, border-color 0.3s ease-in-out;
  -o-transition: background-color, border-color 0.3s ease-in-out;
  transition: background-color, border-color 0.3s ease-in-out;
}

.form__label_hall:hover {
  border-color: var(--color-outline-focus);
  background-color: var(--color-link-hover);
}

.form__label_hall:focus {
  outline: 3px solid var(--color-outline-focus);
  background-color: #fff;
}

.form__radio_hall:checked + .form__label_hall,
.form__label_hall:active {
  color: #fff;
  border-color: #fff;
  background-color: var(--color-btn-hover);
}

.fieldset {
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  row-gap: 20px;
}

.fieldset__date {
  width: 300px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  row-gap: 36px;
}

.fieldset__name {
  width: 280px;
}

.fieldset__container-date {
  width: 100%;
}

.fieldset__info {
  width: 300px;
}

.fieldset__name,
.fieldset__info {
  row-gap: 10px;
}

.fieldset__title {
  margin-bottom: 24px;
  text-align: left;
}

.fieldset__label {
  position: relative;
  padding-left: 40px;
  font-size: 22px;
}

.fieldset__label_radio,
.fieldset__label_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fieldset__label_radio {
  height: 27px;
}

.fieldset__label_checkbox {
  height: 25px;
  padding-left: 34px;
}

.fieldset__radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 27px;
  height: 27px;
  margin-right: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid transparent;
  outline: none;
}

.fieldset__radio::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 30px;
  height: 30px;
  outline: 1px solid var(--color-btn-active);
  outline-offset: 1px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.fieldset__radio::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 8px;
  height: 8px;
  outline-offset: 3px;
  border-radius: 50%;
  background-color: var(--color-btn-hover);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.fieldset__radio:checked::after {
  opacity: 1;
}

.fieldset__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  background-color: #fff;
}

.fieldset__checkbox::after {
  content: '\2714';
  display: block;
  color: var(--color-btn-hover);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.fieldset__checkbox:checked::after {
  opacity: 1;
}

.fieldset__label_date {
  margin-bottom: 6px;
  padding-left: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.fieldset__input {
  width: 100%;
  height: 52px;
  padding: 12px 20px;
  border: none;
  outline: none;
  -webkit-transition: outline-color 0.3s ease-in-out;
  -o-transition: outline-color 0.3s ease-in-out;
  transition: outline-color 0.3s ease-in-out;
}

.fieldset__input:focus {
  outline: 2px solid var(--color-btn-active);
}

.fieldset__radio:focus:before {
  opacity: 1;
}

.fieldset__checkbox:focus {
  outline: 1px solid var(--color-btn-active);
  outline-offset: 2px;
}

.fieldset__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 28px;
  color: #211e1e;
}

.fieldset__input::-moz-placeholder {
  font-size: 18px;
  line-height: 28px;
  color: #211e1e;
}

.fieldset__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 28px;
  color: #211e1e;
}

.fieldset__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 28px;
  color: #211e1e;
}

.fieldset__input::placeholder {
  font-size: 18px;
  line-height: 28px;
  color: #211e1e;
}

.fieldset__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
}

.fieldset__input_date {
  display: none;
}

.fieldset__label_date_info,
.fieldset__label_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 52px;
  margin-bottom: 0;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #211e1e;
  background-color: #fff;
}

.fieldset__label_date_info {
  min-width: 134px;
}

.fieldset__label_count {
  width: 300px;
}

.fieldset__label_date_info::after,
.fieldset__label_count::after {
  content: '';
  display: block;
  width: 21px;
  height: 15px;
  background: url('../img/booking/arrow.svg') center/cover no-repeat;
}

.form__btn {
  margin-left: auto;
  padding: 16px 50px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: var(--color-btn-hover);
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid transparent;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 #fff;
  box-shadow: 0 0 10px 0 #fff;
  -webkit-transition: background-color, border-color 0.3s ease-in-out;
  -o-transition: background-color, border-color 0.3s ease-in-out;
  transition: background-color, border-color 0.3s ease-in-out;
}

.form__btn:hover {
  border-color: var(--color-btn-hover);
  background-color: var(--color-link-hover);
}

.form__btn:focus {
  border-color: var(--color-btn-hover);
  background-color: #fff;
}

.form__btn:active {
  border-color: var(--color-link-hover);
  background-color: var(--color-link-hover);
}

@media (max-width: 1100px) {
  .booking {
    padding: 60px 0;
  }

  .booking__title {
    margin-bottom: 42px;
  }

  .form__title {
    margin-bottom: 26px;
  }

  .form__title_date {
    margin-bottom: 16px;
  }

  .fieldset__label_date_info,
  .fieldset__label_count {
    padding: 12px 25px 12px 20px;
  }

  .fieldset__title {
    margin-bottom: 24px;
  }

  .form__label_hall {
    width: 180px;
    height: 44px;
    font-size: 20px;
    line-height: 1.2;
    border-radius: 6px;
  }

  .form__container_date {
    margin-bottom: 30px;
  }

  .form__container_game {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-column-gap: 110px;
    -moz-column-gap: 110px;
    column-gap: 110px;
  }

  .fieldset__name {
    width: 251px;
  }

  .fieldset__info {
    width: 254px;
  }

  .form__btn {
    padding: 13px 45px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media (max-width: 960px) {
  .booking {
    padding: 50px 0;
  }

  .booking__form {
    row-gap: 50px;
  }

  .form__title {
    margin-bottom: 30px;
  }

  .fieldset__title {
    margin-bottom: 22px;
  }

  .form__label_hall {
    width: 150px;
    height: 38px;
    font-size: 16px;
    line-height: 1.25;
  }

  .fieldset__label_radio,
  .fieldset__label_checkbox {
    height: 40px;
    padding-left: 60px;
  }

  .fieldset__checkbox,
  .fieldset__radio {
    width: 40px;
    height: 40px;
  }

  .fieldset__radio::before {
    width: 42px;
    height: 42px;
  }

  .form__container_game {
    -webkit-column-gap: 137px;
    -moz-column-gap: 137px;
    column-gap: 137px;
  }

  .form__title_date {
    margin-bottom: 30px;
  }

  .fieldset__container {
    width: 280px;
    -webkit-column-gap: 14px;
    -moz-column-gap: 14px;
    column-gap: 14px;
  }

  .form__container_date {
    margin-bottom: 32px;
    row-gap: 35px;
  }

  .fieldset__date {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    row-gap: 42px;
  }

  .fieldset__name {
    width: 280px;
  }

  .fieldset__info {
    width: 300px;
  }

  .form__btn {
    font-size: 22px;
    line-height: 1.27;
  }
}

@media (max-width: 673px) {
  .fieldset__container,
  .fieldset__label_count,
  .fieldset__name,
  .fieldset__info {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .booking {
    padding: 30px 0;
  }

  .booking__form {
    row-gap: 30px;
  }

  .booking__title {
    margin-bottom: 13px;
  }

  .form__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.28;
  }

  .fieldset__title {
    margin-bottom: 15px;
  }

  .form__title_date {
    margin-bottom: 25px;
  }

  .form__label_hall {
    width: 130px;
    height: 30px;
    font-size: 14px;
    line-height: 1.28;
    border-radius: 4px;
  }

  .fieldset__r {
    row-gap: 15px;
  }

  .form__container_game {
    row-gap: 26px;
  }

  .fieldset__checkbox,
  .fieldset__radio {
    width: 30px;
    height: 30px;
  }

  .fieldset__radio::before {
    width: 32px;
    height: 32px;
  }

  .fieldset__label_radio,
  .fieldset__label_checkbox {
    height: 30px;
    padding-left: 50px;
    font-size: 16px;
  }

  .form__container_date {
    margin-bottom: 15px;
    row-gap: 28px;
  }

  .fieldset__date {
    row-gap: 15px;
  }

  .form__btn {
    width: 100%;
    padding: 17px 58px;
    font-size: 18px;
    line-height: 1.44;
  }
}
