.faq {
  clear: both;
}

.faq-title {
  margin-bottom: 40px;
}

.item {
  position: relative;
  padding: 30px 70px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #1c1f1a;
  background-color: #fff;
}

.item:nth-child(even) {
  color: #fff;
  background-color: #440f51;
}

.item::after {
  position: absolute;
  top: 50%;
  left: 90%;
  display: inline-block;
  content: '';
  width: 46px;
  height: 46px;
  transform: translateY(-50%);
}

.item:nth-child(odd)::after {
  background: url('../img/open-purple.svg') center/cover no-repeat;
}

.item:nth-child(even)::after {
  background: url('../img/open.svg') center/cover no-repeat;
}