.faq__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.faq__item {
  position: relative;
  padding: 30px 70px;
  font-size: 24px;
  font-weight: 700;
  color: #1c1f1a;
  background-color: #fff;
}

.faq__item:nth-child(even) {
  color: #fff;
  background-color: var(--color-acction);
}

.faq__item::after {
  position: absolute;
  top: 50%;
  left: 90%;
  display: inline-block;
  content: '';
  width: 46px;
  height: 46px;
  transform: translateY(-50%);
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

.faq__item:nth-child(odd)::after {
  background-image: url('../img/faq/open-purple.svg');
}

.faq__item:nth-child(odd):hover::after {
  background-image: url('../img/faq/open-purple-hover.svg');
}

.faq__item:nth-child(odd):active::after {
  background-image: url('../img/faq/close-purple.svg');
}

.faq__item:nth-child(even)::after {
  background-image: url('../img/faq/open.svg');
}

.faq__item:nth-child(even):hover::after {
  background-image: url('../img/faq/open-hover.svg');
}

.faq__item:nth-child(even):active::after {
  background-image: url('../img/faq/close.svg');
}
