.faq__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.faq__item {
  position: relative;
  padding: 30px 70px;
  font-size: 24px;
  font-weight: 700;
  color: #1c1f1a;
  background-color: #fff;
}

.faq__item:nth-child(even) {
  color: #fff;
  background-color: #440f51;
}

.faq__item::after {
  position: absolute;
  top: 50%;
  left: 90%;
  display: inline-block;
  content: '';
  width: 46px;
  height: 46px;
  transform: translateY(-50%);
  cursor: pointer;
}

.faq__item:nth-child(odd)::after {
  background: url('../img/faq/open-purple.svg') center/cover no-repeat;
}

.faq__item:nth-child(odd):hover::after {
  background: url('../img/faq/open-purple-hover.svg') center/cover no-repeat;
}

.faq__item:nth-child(odd):active::after {
  background: url('../img/faq/close-purple.svg') center/cover no-repeat;
}

.faq__item:nth-child(even)::after {
  background: url('../img/faq/open.svg') center/cover no-repeat;
}

.faq__item:nth-child(even):hover::after {
  background: url('../img/faq/open-hover.svg') center/cover no-repeat;
}

.faq__item:nth-child(even):active::after {
  background: url('../img/faq/close.svg') center/cover no-repeat;
}
