.halls {
  padding-bottom: 100px;
}

.halls__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.halls__item {
  max-width: 580px;
  width: 100%;
  height: 349px;
  -ms-grid-column-span: 6;
  grid-column: span 6;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.halls__item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.halls__item_vibes {
  background-image: url('../img/halls/80s-vibes.jpg');
}

.halls__item_starwars {
  background-image: url('../img/halls/star-wars.jpg');
}

.halls__item_wildwest {
  background-image: url('../img/halls/wild-west.jpg');
}

.halls__item_neonstyle {
  background-image: url('../img/halls/neon-style.jpg');
}

.halls__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  padding: 0 164px;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.halls__link:focus {
  outline: 1px solid var(--color-outline-focus);
}

@media (max-width: 1200px) {
  .halls {
    padding-bottom: 71px;
  }

  .halls__item {
    height: 267px;
  }

  .halls__link {
    padding: 0 96px;
    font-size: 50px;
    line-height: 1.2;
  }
}

@media (max-width: 920px) {
  .halls {
    padding-bottom: 60px;
  }

  .halls__title {
    margin-bottom: 30px;
  }

  .halls__item {
    height: 200px;
    padding-top: 10px;
  }

  .halls__link {
    padding: 0 110px;
    font-size: 40px;
    line-height: 1.25;
  }
}

@media (max-width: 570px) {
  .halls {
    padding-bottom: 30px;
  }

  .halls__title {
    margin-bottom: 15px;
  }

  .halls__list {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }

  .halls__item {
    height: 168px;
    padding-top: 0;
  }

  .halls__link {
    font-size: 26px;
    line-height: 1.3;
  }
}
