.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  font-family: Arial;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
  color: #840aa3;
}

.nav__link:active {
  color: #640aa3;
}
