.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.nav__link {
  font-family: Arial;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--color-link-hover);
}

.nav__link:focus {
  outline: 1px solid var(--color-outline-focus);
}

.nav__link:active {
  color: var(--color-btn-active);
}

.nav__btn {
  display: none;
}

.header__menu-overlay {
  display: block;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.header__menu-overlay.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1200px) {
  .nav__list {
    gap: 20px;
  }

  .nav__link {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 920px) {
  .nav {
    position: absolute;
    top: 107px;
    right: 0;
    width: 100vw;
    height: 383px;
    padding: 50px 40px;
    background-color: var(--bg-page);
    transition-duration: 0.7s;
    z-index: 999;
    text-align: center;
    transform: translateY(calc(-100% - 107px));
  }

  .nav.active {
    transform: translateY(0);
  }

  .nav__list {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  .nav__item {
    padding: 19px 16px 16px 16px;
    transition: background-color 0.3s ease-in-out;
  }

  .nav__item:hover {
    background-color: var(--color-btn-hover);
  }

  .nav__item:focus {
    background-color: var(--color-btn-active);
  }

  .nav__link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 22px;
    line-height: 22px;
  }
}

@media (max-width: 690px) {
  .nav {
    top: 83px;
    padding: 18px 40px 27px;
    height: 352px;
    transform: translateY(calc(-100% - 83px));
  }

  .nav__item {
    padding: 13px;
  }

  .nav__link {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 520px) {
  .nav__list {
    margin-bottom: 25px;
  }

  .nav__btn {
    display: inline-block;
  }
}
