.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  font-family: Arial;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover,
.nav__link:focus {
  color: #eadeed;
}

.nav__link:focus {
  outline: 1px solid #640aa3;
}

.nav__link:active {
  color: #cd06ff;
}
