.page__title {
  font-size: 150px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -15px;
  text-transform: uppercase;
}

.page__subtitle {
  margin-bottom: 40px;
  font-size: 28px;
  padding-left: 100px;
}
