.promo {
  position: relative;
  min-height: 912px;
  padding-top: 20px;
}

.promo::after {
  position: absolute;
  top: 100px;
  right: 100px;
  content: '';
  width: 100%;
  height: 762px;
  display: inline-block;
  background: url('../img/promo/vr.png') right / contain no-repeat;
}

.promo__content {
  display: flex;
  gap: 40px;
  text-align: center;
}

.promo__info {
  margin-bottom: 150px;
}

.promo__advantage {
  font-size: 75px;
  font-weight: 900;
  line-height: normal;
  color: #cd06ff;
  font-variant: all-small-caps;
}

.promo__advantage_text {
  font-size: 30px;
  line-height: normal;
}

.promo__btn {
  display: inline-block;
  padding: 25px 69px;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #6c0287;
  box-shadow: 0 0 10px 0 #6c0287;
}
