.recreation__title {
  max-width: 870px;
  margin: 0 auto 40px;
}

.recreation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recreation__figure {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.recreation__figure:hover {
  transform: scale(1.1);
}

.recreation__figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 61px;
  padding: 0 40px;
  font-weight: 700;
}
