.reviews__container {
  max-width: 1040px;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.reviews__item {
  display: flex;
  column-gap: 20px;
}

.reviews__figure {
  text-align: center;
}

.reviews__img {
  width: 280px;
  height: 280px;
  margin-bottom: 11px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.reviews__img_two {
  object-position: 50% 30%;
}

.reviews__img_three {
  object-position: center;
}

.reviews__text {
  width: 680px;
  padding-top: 40px;
}
