.reviews__container {
  max-width: 1046px;
}

.reviews__item:not(:last-child) {
  margin-bottom: 40px;
}

.reviews__figure {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.reviews__img {
  width: 280px;
  height: 280px;
  margin-bottom: 11px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.reviews__img_three {
  object-position: center;
}

.reviews__text {
  display: inline-block;
  width: 680px;
  padding-top: 40px;
  vertical-align: top;
}
