html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  background-color: var(--bg-page);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
figcaption,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  outline: none;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  --width: 1240px;
  --padding: 30px;
  max-width: var(--width);
  padding: 0 var(--padding);
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

.section__title {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .container {
    --padding: 60px;
  }

  section {
    padding: 35px 0;
  }

  .section__title {
    margin-bottom: 36px;
    font-size: 30px;
    line-height: 1.33;
  }
}

@media (max-width: 920px) {
  .container {
    --padding: 40px;
  }

  section {
    padding: 30px 0;
  }

  .section__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.5;
  }
}

@media (max-width: 570px) {
  .container {
    --padding: 20px;
  }
}

@media (max-width: 520px) {
  section {
    padding: 15px 0;
  }

  .section__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.28;
  }
}
